.hub {
    padding: 195px 0 180px;

    &__main {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #6a6a6a;
        padding-bottom: 95px;
        margin-bottom: 45px;
        background-image: url('/assets/img/chiken.png');
        background-repeat: no-repeat;
        background-position: 796px bottom;
        flex-wrap: wrap;
        // 596px

        @media(max-width: 1200px) {
            background-position: 596px bottom;
        }

        @media(max-width: 959px) {
            column-gap: 55px;
            justify-content: center;
            background-image: none;
        }

        @media(max-width: 639px) {
            column-gap: 13px;
        }

        @media(max-width: 360px) {
            justify-content: start;
        }
    }

    &__text {
        opacity: 0.5;

        @media(max-width: 638px) {
            font-size: 14px;

            &--social {
                display: none;
            }
        }

    }

    &__link {
        color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
        display: block;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.2;
        }

        @media(max-width: 638px) {
            font-size: 14px;
            padding: 10px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--links {

            @media(max-width: 639px) {
                flex-direction: row;
            }
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 25px;

        h4 {
            padding-left: 15px;

            @media(max-width: 638px) {
                padding-left: 10px;
            }
        }
    }

    &__social {
        padding: 10px;
        display: block;
        transition: opacity 0.3s;

        @media(max-width: 360px) {
            padding: 5px;
        }

        &:hover {
            opacity: 0.2;
        }
    }

    &__text--social {
        padding-left: 10px;
    }

    &__footer {
        display: flex;
        max-width: 1108px;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 959px) {
            flex-direction: column;
        }
    }

    &__text--footer {
        padding: 15px;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__logo {

        @media(max-width: 959px) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}