.opportunities {

    @media(max-width: 1344px) {
        overflow-x: hidden;
        padding-top: 50px;
    }

    @media(max-width: 959px) {
        padding-top: 70px;
    }

    @media(max-width: 639px) {
        padding-top: 80px;
    }

    padding: 162px 0 273px;

    &__list {
        display: grid;
        grid-template-columns: 275px 275px 275px 275px;
        gap: 35px;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scrollbar-width: none;

        @media(max-width: 1344px) {
            gap: 25px;
        }

        @media(max-width: 959px) {
            gap: 15px;
        }

        @media(max-width: 639px) {
            gap: 25px;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__subtitle {
        color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* 27px */
        margin-bottom: 20px;

        @media(max-width: 639px) {
            margin-bottom: 15px;
        }
    }

    &__text {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.75;
        margin-bottom: 15px;
        display: none;

        &--active {
            display: block;
        }
    }

    &__dots {
        display: flex;
        gap: 5px;
    }

    &__dot {
        width: 8px;
        height: 8px;
        border-radius: 15px;
        background: rgba(217, 217, 217, 0.25);
        cursor: pointer;
        transition: opacity 0.3s;

        &--active {
            background: #D9D9D9;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.50);
        padding: 85px 0;
        background-repeat: no-repeat;
        background-position: left center;
        position: relative;

        &:nth-child(1) {
            background-image: url('/assets/img/card1.svg');
        }

        &:nth-child(2) {
            background-image: url('/assets/img/card2.svg');
        }

        &:nth-child(3) {
            background-image: url('/assets/img/card3.svg');
        }

        &:nth-child(4) {
            background-image: url('/assets/img/card4.svg');
        }
    }

    &__text {
        max-width: 185px;
    }

    &__title {
        margin-bottom: 35px;
        
        br {
            display: none;
        }

        @media(max-width: 1344px) {
            margin-bottom: 25px;

            br {
                display: block;
            }
        }

        

    }

    &__arrow {
        width: 34px;
        height: 34px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0005 9L21.0005 17L13.0005 25' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        position: absolute;
        cursor: pointer;
        transition: opacity 0.3s;

        top: calc(50% - 34px / 2);

        &--next {
            right: 0px;
        }

        &--prev {
            transform: rotate(180deg);
            left: 0px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}